<ng-container *ngIf="form$ | async as form">
  <div class="container">
    <mat-card class="container__card">
      <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="form">
       <div *ngFor="let control of controls" class="form-row">
          <dynamic-form-field [formField]="control" [form]="form"></dynamic-form-field> 
       </div>
    
       <div>
          <button mat-raised-button type="submit" color="warn" [disabled]="!form.valid">Save</button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-container>