@import 'global';

.return  {
  font-size: 40px;
  margin: 0 auto;
  text-decoration: none;

  cursor: pointer;
  padding: 10px;

  .link {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #3f51b5;
    }
  }

  i {
    font-size: 40px;
  }

}

.container__card {
  max-width: 60%;
  margin: auto;
  padding: 34px;
  min-height: 400px;
  display: flex;  
  
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-row {
      width: 35%;
    }

    &::ng-deep {
      mat-form-field {
        width: 100%;
      }
    }
  }
}