$errorColor: #f44336;

.dialog {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-weight: 700;

    .icon {
      color: $errorColor;
      margin-left: 10px;
    }
  }

  &__content {
    color: $errorColor;
    font-size: 20px;
    text-align: center;
  }

  &__btn {
    align-self: center;
  }
}